body {
    background-color: rgb(253, 251, 251);
}
#cabecalho {
    position: fixed;
    top: 0;
}
#rodape{
    margin-top: 40px;
    text-align: center;
    color: brown;
}
article{
    display: inline-block;
}
aside{
    float: right;
    width: 400px;
    margin-bottom: 80px;
    margin-left: 50px;
}
section{
    text-align:center;
    display: inline-flex;
}
main{
    display: inline;
}
#secao{
    display: inline-flex;
}
#licoes_a_aprender{
    margin-top: 150px;
    float: right;
}
#minha_foto{
    width: 500px;
    border-radius: 4%;
}
#licoes_aprendidas, #list{
    margin-top: 150px;
}
h2{
    margin-left: 550px;
    color: brown;
}
h1, h3{
    color: brown;
}
#artigo{
    margin-top: 40px;
}